body {
	background: #333;
}
#gameName {
	color: #fff;
	text-align: center;
	font: 24px bold Courier;
}
#map {
	background: #000;
	display: block;
	margin: 30px auto 0;
}
#player {
	display: block;
	margin: -500px auto 0;
}