body {
	background: #333;
}
p {margin: 0;}

#gameName {
	color: #fff;
	text-align: center;
	font: 24px bold Courier;
}
canvas {
	display: block;
	margin: 30px auto 0;
}
#player, #enemy, #stats {
	margin: -500px auto 0;
}
input {
	display: block;
	margin: 5px auto 0;
	border: 2px solid white;
	background: black;
	border-radius: 4px;
	color: white;
	font: 24px bold Courier;
}
#modalDialog {
	width: 800px;
	height: 500px;
	margin: -538px auto 0;
	background: #000;
	opacity: .7;
	font-size: 25px;
	box-sizing: border-box;
	padding: 120px 200px;
	text-align: center;
	display: none;
}
#modalDialog span, #modalDialog p {
	color: white;
}
.control {
	width: 120px;
	margin-left: 265px;
	text-align: left;
}
#gameOverMessage+p {
	margin-bottom: 20px;
}
#gameOverMessage, #passedMessage {
	display: none;
}